<div class="row">
  <div class="d-flex">
    <h4 class="text-primary">
      <%= image_tag("dashboard_logo.svg", class: "img-fluid") %>
      &emsp;
      Oggi:
      &emsp; 
      <%= l(Date.today, format: "%A %d %B %Y") %>
    </h4>
  </div>
</div>
<div class="row">
  <hr/>
  <br/>
</div>
<div class="row">
  <div class="col-4">
    <div class="card bg-white border-light shadow">
      <div class="card-header bg-white test-primary">
        <%= image_tag("dashboard_holidays_logo.svg", class: "img-fluid") %>
      </div>
      <div class="card-body">
        <ul class="list-group bg-white border-white">
          <% @holidays.each do |holiday| %>
            <% if Date.today.between?(startholiday(holiday), endholiday(holiday))%>
              <li class="list-group-item bg-white border-white">
                <strong>
                  <%= link_to holiday_path(holiday), "data-controller": "turbo", "data-bs-toggle": "tooltip", "title": "Visualizza Dettaglio" do %>
                    <i class='fas fa-user-circle'></i>
                    &nbsp;
                    <%= "#{holiday.user.last_name} #{holiday.user.first_name}" %>
                  <% end %>
                </strong>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-white border-light shadow">
      <div class="card-header bg-white test-primary">
        <%= image_tag("dashboard_hourly_holidays_logo.svg", class: "img-fluid") %>
      </div>
      <div class="card-body">
        <ul class="list-group bg-white border-white">
          <% @hourly_holidays.each do |hourly_holiday| %>
            <li class="list-group-item bg-white border-white">
              <strong>
                <%= link_to hourly_holiday_path(hourly_holiday), "data-controller": "turbo", "data-bs-toggle": "tooltip", "title": "Visualizza Dettaglio" do %>
                  <i class='fas fa-user-circle'></i>
                  &nbsp;
                  <%= "#{hourly_holiday.user.last_name} #{hourly_holiday.user.first_name}" %>
                <% end %>
              </strong>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-white border-light shadow">
      <div class="card-header bg-white test-primary">
        <%= image_tag("dashboard_diseases_logo.svg", class: "img-fluid") %>
      </div>
      <div class="card-body">
        <ul class="list-group bg-white border-white">
          <% @diseases.each do |disease| %>
            <% if Date.today.between?(startdisease(disease), enddisease(disease))%>
              <li class="list-group-item bg-white border-white">
                <strong>
                  <%= link_to disease_path(disease), "data-controller": "turbo", "data-bs-toggle": "tooltip", "title": "Visualizza Dettaglio" do %>
                    <i class='fas fa-user-circle'></i>
                    &nbsp;
                    <%= "#{disease.user.last_name} #{disease.user.first_name}" %>
                  <% end %>
                </strong>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-4">
    <div class="card bg-white border-light shadow">
      <div class="card-header bg-white test-primary">
        <%= image_tag("dashboard_permits_logo.svg", class: "img-fluid") %>
      </div>
      <div class="card-body">
        <ul class="list-group bg-white border-white">
          <% @permits.each do |permit| %>
            <% if Date.today.between?(startpermit(permit), endpermit(permit))%>
              <li class="list-group-item bg-white border-white">
                <strong>
                  <%= link_to permit_path(permit), "data-controller": "turbo", "data-bs-toggle": "tooltip", "title": "Visualizza Dettaglio" do %>
                    <i class='fas fa-user-circle'></i>
                    &nbsp;
                    <%= "#{permit.user.last_name} #{permit.user.first_name}" %>
                  <% end %>
                </strong>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card bg-white border-light shadow">
      <div class="card-header bg-white test-primary">
        <%= image_tag("dashboard_hourly_permits_logo.svg", class: "img-fluid") %>
      </div>
      <div class="card-body">
        <ul class="list-group bg-white border-white">
          <% @hourly_permits.each do |hourly_permit| %>
            <% if Date.today.between?(startpermit(hourly_permit), endpermit(hourly_permit))%>
              <li class="list-group-item bg-white border-white">
                <strong>
                  <%= link_to permit_path(hourly_permit), "data-controller": "turbo", "data-bs-toggle": "tooltip", "title": "Visualizza Dettaglio" do %>
                    <i class='fas fa-user-circle'></i>
                    &nbsp;
                    <%= "#{hourly_permit.user.last_name} #{hourly_permit.user.first_name}" %>
                  <% end %>
                </strong>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
