<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header mb-5">
          <div class="modal-title">
            <%= image_tag("veichles_form_icon.svg", class: "img-fluid") %>
          </div>
          <a class="modal-header-link" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
        <div class="modal-body mb-5">
          <div class="col-8 offset-2">
            <div id="<%= dom_id @holiday %>" class="scaffold_record">
              <div class="row">
                <div class="col">
                  <%= holiday_full_user(@holiday) %>
                  <hr class="bg-primary"/>
                  <br/>
                  <span class="text-primary">
                    <i class="fa-solid fa-calendar-day"></i>
                    Data Inizio:
                    &emsp;
                    <%= l(@holiday.start_time) %>
                  </span>
                  <br/>
                  <span class="text-primary">
                    <%= l(@holiday.end_time) %>
                    <i class="fa-solid fa-calendar-day"></i>
                    Data Fine:
                    &emsp;
                    <hr class="bg-primary"/>
                  </span>
                  <br/>
                  Aggiornato da:
                  &nbsp;
                  <%= @holiday.updater %>
                  <br/>
                  Data Ultimo Aggiornamento:
                  &nbsp;
                  <%= @holiday.update_date %>
                </div>
              </div>
            </div>
            <hr class="bg-primary"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
