<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header mb-5">
          <div class="modal-title">
            <%= image_tag("holidays_form_icon.svg", class: "img-fluid") %>
          </div>
          <a class="modal-header-link" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
        <div class="modal-body mb-5">
          <div class="col-8 offset-2">
            <div id="<%= dom_id @holiday %>" class="scaffold_record">
              <div class="row">
                <div class="col">
                  <h3 class="text-primary">
                    <%= holiday_full_user(@holiday) %>
                  </h3>
                  <hr class="bg-primary"/>
                  <h5 class="text-primary">
                    Dal giorno:
                    &emsp;
                    <strong>
                      <%= l(@holiday.start_time, format: "%A %d %B %Y") %>
                    </strong>
                    &emsp;
                    al giorno:
                    &emsp;
                    <strong>
                      <%= l(@holiday.end_time, format: "%A %d %B %Y") %>
                    </strong>
                    <hr/>
                    Note:
                    <br/>
                    <br/>
                    <span class="text-dark">
                      <%= @holiday.note %>
                    </span>
                  </h5>
                  <hr class="bg-primary"/>
                  <br/>
                  <span class="float-end">
                    <small class="text-secondary">
                      aggiornato da:
                      &nbsp;
                      <%= @holiday.updater %>
                      &emsp;
                      data Ultimo Aggiornamento:
                      &nbsp;
                      <%= l(@holiday.update_date) if @holiday.update_date.present? %>
                    </small>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
