<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header mb-5">
          <div class="modal-title">
            <%= image_tag("holidays_form_icon.svg", class: "img-fluid") %>
          </div>
          <a class="modal-header-link" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
        <div class="modal-body mb-5">
          <div class="col-8 offset-2">
            <div id="<%= dom_id @holiday %>" class="scaffold_record">
              <div class="row">
                <div class="col">
                  <h3 class="text-primary">
                    <%= holiday_full_user(@holiday) %>
                  </h3>
                  <hr class="bg-primary"/>
                  <h5 class="text-primary">
                    Dal giorno:
                    &emsp;
                    <strong>
                      <%= l(@holiday.start_time, format: "%A %d %B %Y") %>
                    </strong>
                    &emsp;
                    al giorno:
                    &emsp;
                    <strong>
                      <%= l(@holiday.end_time, format: "%A %d %B %Y") %>
                    </strong>
                    <hr/>
                    Note:
                    <br/>
                    <br/>
                    <span class="text-dark">
                      <%= @holiday.note %>
                    </span>
                  </h5>
                  <hr class="bg-primary"/>
                  <br/>
                  <span class="float-end">
                    <% if payer? %>
                      <%= link_to edit_holiday_path(holiday), "data-controller": "turbo" , "data-bs-toggle": "tooltip", "title": "Modifica il Record Corrente" do %>
                        <i class="fa-solid fa-pen-to-square"></i>
                      <% end %>
                      &nbsp;
                      &nbsp;
                      <%= link_to holiday_path(holiday), "data-turbo-method": :delete, "data-turbo-confirm": "Sicuri di voler eliminare il record corrente?" , "data-bs-toggle": "tooltip", "title": "Elimina il Record Corrente" do %>
                        <i class="fa-solid fa-trash"></i>
                      <% end %>
                    <% end %>
                  </span>
                  <br/>
                  <span class="float-start">
                    <small class="text-secondary">
                      Creato da:
                      &nbsp;
                      <%= @holiday.creator %>
                      &emsp;
                      Data Creazione:
                      &nbsp;
                      <%= l(@holiday.created_at, format: "%A %d %B %Y") %>
                    </small>
                  </span>
                  <br/>
                  <% if @holiday.update_date.present? %>
                    <span class="float-start">
                      <small class="text-secondary">
                        Aggiornato da:
                        &nbsp;
                        <%= @holiday.updater %>
                        &emsp;
                        Data Ultimo Aggiornamento:
                        &nbsp;
                        <%= l(@holiday.update_date, format: "%A %d %B %Y") %>
                      </small>
                    </span>
                  <% end %>
                  <br/>
                  <span class="float-end">
                    <small class="text-success">
                      <% if processed_holiday(holiday) %>
                        <i class="fa-solid fa-circle-check"></i>
                        &nbsp;
                        Presa Visione
                      <% end %>
                    </small>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
