<div class="row">
  <div class="col-8">
    <h3 class='text-primary'>
      <%= image_tag("holidays_logo.svg", class: "img-fluid") %>
    </h3>
  </div>
  <div class="col-4">
    <div class="d-grid">
      <%= link_to new_holiday_path, "data-controller": "turbo", class: "btn btn-primary btn-sm shadow" do %>
        <i class="fa-solid fa-plus"></i>
        &nbsp;
        <i class="fa-solid fa-umbrella-beach"></i>
        &nbsp;
        Aggiungi Ferie
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= month_calendar(events: @holidays) do |date, holidays| %>
      <% if date.wday == 0 || date.wday == 6 %>
      <% else %>
        <div class='card card-calendar bg-light mb-1 shadow'>
          <div class='card-header card-header-calendar text-center'>
            <i class='fas fa-calendar-day'></i>
            &nbsp;
            <%= l(date, format: "%a %d") %>
            &emsp;
            <span class='text-secondary'>
              <%= l(date, format: "%b") %>
            </span>
          </div>
          <div class='card-body card-body-calendar'>
            <% holidays.each do |holiday| %>
              <span class="badge">
                <%= link_to holiday_path(holiday), "data-controller": "turbo", "data-bs-toggle": "tooltip", "title": "Visualizza Dettaglio" do %>
                  <i class='fas fa-user'></i>
                  &nbsp;
                  <%= "#{holiday.user.last_name} #{holiday.user.first_name.split.map { |i| i[0, 1].upcase }.join}" %>
                <% end %>
                <span class="text-dark">
                  <% if holiday.processed == true %>
                  <% else %>
                    &emsp;
                    |
                    &emsp;
                    <%= link_to edit_holiday_path(holiday), "data-controller": "turbo", "data-bs-toggle": "tooltip", "title": "Modifica il Record Corrente" do %>
                      <i class="fa-solid fa-pen-to-square"></i>
                    <% end %>
                    &nbsp;
                    &nbsp;
                    <%= link_to holiday_path(holiday), "data-turbo-method": :delete, "data-turbo-confirm": "Sicuri di voler eliminare il record corrente?", "data-bs-toggle": "tooltip", "title": "Elimina il Record Corrente" do %>
                      <i class="fa-solid fa-trash"></i>
                    <% end %>
                  <% end %>
                </span>
              </span>
              <br/>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
