<div class="row mb-4">
  <div class="col-12">
    <%= image_tag("holidays_logo.svg", class: "img-fluid") %>
  </div>
</div>
<%= search_form_for @q, id: 'search-form', url: search_holidays_path do |form| %>
  <div class="row">
    <div class="col-4">
      <div class="input-group mb-2">
        <div class="input-group-text">
          <i class="fa-solid fa-calendar-day"></i>
          &nbsp;<span>Data Inizio</span>
        </div>
        <%= form.date_field :start_time_gteq, class: "form-control" %>
      </div>
    </div>
    <div class="col-4">
      <div class="input-group mb-2">
        <div class="input-group-text">
          <i class="fa-solid fa-calendar-day"></i>
          &nbsp;<span>Data Fine</span>
        </div>
        <%= form.date_field :start_time_lteq, class: "form-control" %>
      </div>
    </div>
    <div class="col-4">
      <span class="float-start">
        <div class="input-group mb-2">
          <div class="input-group-text">
            <i class="fa-solid fa-user-circle"></i>
            &nbsp;<span>Utente</span>
          </div>
          <% if god? %>
            <%= form.collection_select(:user_id_eq, User.order('last_name ASC'), :id, :user_name_full, {:include_blank => true}, {:class => 'form-control'}) %>
          <% elsif manager? %>
            <%= form.collection_select :user_id_eq, User.order('last_name ASC').where(province: current_user.province, region: current_user.region), :id, :user_name_full, {:include_blank => true}, {:class => 'form-control'} %>
          <% else %>
          <% end %>
        </div>
      </span>
      <span class="float-end">
        <%= button_tag(type: "submit", class: "btn btn-primary") do %>
          <i class="fa-solid fa-magnifying-glass"></i>
          &emsp;
          <strong>
            Cerca
          </strong>
        <% end %>
        &nbsp;
      </span>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="col-12">
    <br/>
    <table class="table table-hover text-primary">
      <thead>
        <th><i class="fa-solid fa-user-circle"></i></th>
        <th><i class="fa-solid fa-calendar-day"></i></th>
        <th><i class="fa-solid fa-calendar-day"></i></th>
      </thead>
      <tbody>
        <% @holidays.each do |holiday| %>
          <tr>
            <td>
              <%= "#{holiday.user.first_name} #{holiday.user.last_name}" %>
            </td>
            <td>
              <%= l(holiday.start_time, format: "%A %d %B %Y") %>
            </td>
            <td>
              <%= l(holiday.end_time, format: "%A %d %B %Y") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
