<div class="align-items-center justify-content-center">
  <div class="col-6 offset-3">
    <%= image_tag "registration_logo.svg", class: "img-fluid", alt: "registration_logo.svg" %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group mx-3 mb-2">
        Nuova&nbsp;<%= f.label :password, class: "form-label" %>
        <br/>
        <small class="text-primary">
          <i>(lascia il campo vuoto se non vuoi cambiare)</i>
        </small>
        <div class="form-group">
          <div class="input-group">
            <%= f.password_field :password, autocomplete: "nuova-password", class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group mx-3 mb-2">
        <%= f.label :password_confirmation, class: "form-label" %>
        <div class="form-group">
          <div class="input-group">
            <%= f.password_field :password_confirmation, autocomplete: "nuova-password", class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group mx-3 mb-2">
        <%= f.label :current_password, class: "form-label" %>
        <br/>
        <small class="text-primary">
          <i>(devi inserire la password corrente per confermare qualsiasi modifica)</i>
        </small>
        <div class="form-group">
          <div class="input-group">
            <%= f.password_field :current_password, autocomplete: "nuova-password", class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group mx-3 mb-2">
        <%= f.label "Chi autorizza le missioni?", class: "form-label" %>
        <br/>
        <div class="form-group">
          <div class="input-group">
            <%= f.text_field :validator, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group mx-3 mb-2">
        <%= f.label "Titolo di chi autorizza le missioni?", class: "form-label" %>
        <br/>
        <div class="form-group">
          <div class="input-group">
            <%= f.text_field :validator_presentation, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group mx-3 mb-2">
        <%= f.label :cost_per_km, class: "form-label" %>
        <br/>
        <div class="form-group">
          <div class="input-group">
            <%= f.number_field :cost_per_km, step: 0.01, class: "form-control" %>
          </div>
        </div>
      </div>
      <br/>
      <div class="d-grid">
        <%= f.submit class: 'btn btn-primary btn-sm mx-3 mb-2' %>
      </div>
      <div class="d-grid">
        <%= link_to "Annulla", :back, class: "btn btn-warning btn-sm mx-3" %>
      </div>
    <% end %>
  </div>
</div>
