<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag attachments['mail_logo_holidays.png'].url, alt: 'Trantor Logo' %>
    <br/>
    <br/>
    <p>
      L'Utente <br>
      <h3>
        <%= "#{@user.last_name} #{@user.first_name}" %>
      </h3>
      <br/>
      ha effettuato una variazione nella sezione: <strong>Ferie</strong>
    </p>
    <br/>
    Periodo interessato:
    &emsp;
    <strong>
      <%= l(@holiday.start_time) %> - <%= l(@holiday.end_time) %>
    </strong>
    <br/>
    <br/>
    <p>
      <%= image_tag attachments['mail_logo.png'].url, alt: 'Trantor Logo' %>
    </p>
  </body>
</html>
