<%= form_with(model: refund_closure) do |form| %>
  <% if refund_closure.errors.any? %>
    <div class="row mb-2">
      <div class="card border-danger bg-white">
        <div class="card-body">
          <div class="row">
            <div class="col-6 text-center">
              <%= image_tag("error.svg", class: "img-fluid") %>
            </div>
            <div class="col-6">
              <h4 class="text-danger">Non posso salvare il record per i seguenti motivi:</h4>
              <ul>
                <% refund_closure.errors.each do |error| %>
                  <li class="text-danger"><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-6">
      <div class="input-group mb-1">
        <span class="input-group-text">
          <i class="fa-regular fa-calendar-days"></i>
          &nbsp;&nbsp;
          <%= form.label :year_reference %>
        </span>
        <%= form.text_field :year_reference, class: 'form-control' %>
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text">
          <i class="fa-solid fa-calendar-days"></i>
          &nbsp;&nbsp;
          <%= form.label :month_reference %>
        </span>
        <%= form.text_field :month_reference, class: 'form-control' %>
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text">
          <i class="fa-solid fa-calendar-week"></i>
          &nbsp;&nbsp;
          <%= form.label :period_reference %>
        </span>
        <%= form.text_field :period_reference, class: 'form-control' %>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group mb-1">
        <span class="input-group-text">
          <i class="fa-solid fa-paperclip"></i>
          <i class="fa-solid fa-wallet"></i>
          &nbsp;&nbsp;
          <%= form.label :refund_print %>
        </span>
        <%= form.file_field :refund_print, class: 'form-control' %>
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text">
          <i class="fa-solid fa-paperclip"></i>
          <i class="fa-regular fa-file-lines"></i>
          &nbsp;&nbsp;
          <%= form.label :refund_summary %>
        </span>
        <%= form.file_field :refund_summary, class: 'form-control' %>
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text">
          <i class="fa-solid fa-paperclip"></i>
          <i class="fa-solid fa-road"></i>
          &nbsp;&nbsp;
          <%= form.label :highway_movements %>
        </span>
        <%= form.file_field :highway_movements, class: 'form-control' %>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-6">
      <div class="input-group mb-1">
        <span class="input-group-text">
          <i class="fa-solid fa-paperclip"></i>
          <i class="fa-solid fa-receipt"></i>
          &nbsp;&nbsp;
          <%= form.label :refund_receipt_1 %>
        </span>
        <%= form.file_field :refund_receipt_1, class: 'form-control' %>
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text">
          <i class="fa-solid fa-paperclip"></i>
          <i class="fa-solid fa-receipt"></i>
          &nbsp;&nbsp;
          <%= form.label :refund_receipt_2 %>
        </span>
        <%= form.file_field :refund_receipt_2, class: 'form-control' %>
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text">
          <i class="fa-solid fa-paperclip"></i>
          <i class="fa-solid fa-receipt"></i>
          &nbsp;&nbsp;
          <%= form.label :refund_receipt_3 %>
        </span>
        <%= form.file_field :refund_receipt_3, class: 'form-control' %>
      </div>
    </div>
    <div class="col-6">
      <div class="input-group mb-1">
        <span class="input-group-text">
          <i class="fa-solid fa-paperclip"></i>
          <i class="fa-solid fa-receipt"></i>
          &nbsp;&nbsp;
          <%= form.label :refund_receipt_4 %>
        </span>
        <%= form.file_field :refund_receipt_4, class: 'form-control' %>
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text">
          <i class="fa-solid fa-paperclip"></i>
          <i class="fa-solid fa-receipt"></i>
          &nbsp;&nbsp;
          <%= form.label :refund_receipt_5 %>
        </span>
        <%= form.file_field :refund_receipt_5, class: 'form-control' %>
      </div>
      <div class="input-group mb-1">
        <span class="input-group-text">
          <i class="fa-solid fa-paperclip"></i>
          <i class="fa-solid fa-receipt"></i>
          &nbsp;&nbsp;
          <%= form.label :refund_receipt_6 %>
        </span>
        <%= form.file_field :refund_receipt_6, class: 'form-control' %>
      </div>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col">
      <div class="d-grid">
        <%= form.submit class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
