<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header mb-2">
          <div class="modal-title">
            <%= image_tag("refund_closures_form_icon.svg", class: "img-fluid") %>
          </div>
          <a class="modal-header-link" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
        <div class="modal-body mb-1">
          <div class="col">
            <% if @refund_closure.refund_print.attached? %>
              <% if current_user.regular == true %>
                <%= render "refund_closures/payed" %>
              <% elsif current_user.god == true || current_user.manager == true && current_user.province == @refund_closure.user.province && current_user.region == @refund_closure.user.region %>
                <%= render "refund_closures/form_payer", refund_closure: refund_closure %>
              <% end %>
            <% else %>
              <%= render "refund_closures/form", refund_closure: refund_closure %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
