<%= turbo_frame_tag :remote_modal, target: :_top do %>
  <div class="modal fade" data-controller="modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header mb-5">
          <div class="modal-title">
            <%= image_tag("veichles_form_icon.svg", class: "img-fluid") %>
          </div>
          <a class="modal-header-link" data-bs-dismiss="modal" aria-label="Close">
            <i class="fa-solid fa-xmark"></i>
          </a>
        </div>
        <div class="modal-body mb-5">
          <div class="col-8 offset-2">
            <div id="<%= dom_id @veichle %>" class="scaffold_record">
              <div class="row">
                <div class="col">
                  <span class="text-primary">
                    <i class="fa-solid fa-car"></i>
                    &emsp;
                    Modello:
                  </span>
                  &emsp;
                  <%= @veichle.name %>
                  <hr class="bg-primary"/>
                  <span class="text-primary">
                    <i class="fa-solid fa-industry"></i>
                    &emsp;
                    Produttore:
                  </span>
                  &emsp;
                  <%= @veichle.producer %>
                  <hr class="bg-primary"/>
                  <span class="text-primary">
                    <i class="fa-solid fa-credit-card"></i>
                    &emsp;
                    Targa:
                  </span>
                  &emsp;
                  <%= @veichle.license_plate %>
                  <hr class="bg-primary"/>
                  <span class="text-primary">
                    <i class="fa-solid fa-arrow-up-9-1"></i>
                    &emsp;
                    Posizione in Scaletta:
                  </span>
                  &emsp;
                  <%= @veichle.position %>
                </div>
              </div>
            </div>
            <hr class="bg-primary"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
