<div class="col-3">
  <div class="d-grid mx-3">
    <%= image_tag("veichles_logo.svg", class: "img-fluid") %>
    <br/>
    &emsp;
    <br/>
    <%= link_to new_veichle_path, "data-controller": "turbo", class: "btn btn-primary btn-sm shadow" do %>
      <i class="fa-solid fa-plus"></i>
      &nbsp;
      <i class="fa-solid fa-car"></i>
      &nbsp;
      Nuovo Veicolo
    <% end %>
  </div>
</div>
<div class="col-9">
  <table class="table table-hover">
    <thead>
      <th><i class="fa-solid fa-car"></i></th>
      <th><i class="fa-solid fa-industry"></i></th>
      <th><i class="fa-solid fa-credit-card"></i></th>
      <th><i class="fa-solid fa-arrow-up-9-1"></i></th>
      <th colspan=2></th>
    </thead>
    <tbody>
      <% @veichles.each do |veichle| %>
        <tr>
          <td>
            <%= link_to veichle_path(veichle), "data-controller": "turbo" do %>
              <%= veichle.name %>
            <% end %>
          </td>
          <td><%= veichle.producer %></td>
          <td><%= veichle.license_plate %></td>
          <td><%= veichle.position %></td>
          <td>
            <%= link_to edit_veichle_path(veichle), "data-controller": "turbo", 
            "data-bs-toggle": "tooltip", 
            "title": "Modifica il Record Corrente", class: "edit-link" do %>
              <i class="fa-solid fa-pen-to-square"></i>
            <% end %>
          </td>
          <td>
            <%= link_to veichle_path(veichle),
            "data-turbo-method": :delete,
            "data-turbo-confirm": "Sicuri di voler eliminare il record corrente?" , 
            "data-bs-toggle": "tooltip", 
            "title": "Elimina il Record Corrente", class: "delete-link" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
