<div id="<%= dom_id road %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= road.name %>
  </p>
  <p>
    <strong>Road type:</strong>
    <%= road.road_type %>
  </p>
  <p>
    <strong>Road lenght:</strong>
    <%= road.road_lenght %>
  </p>
  <p>
    <strong>Highway cost:</strong>
    <%= road.highway_cost %>
  </p>
  <p>
    <strong>Position:</strong>
    <%= road.position %>
  </p>
</div>
