<div class="container">
  <div class="row">
    <div class="col-12">
      <%= search_form_for @q, id: "search-form", url: print_refunds_path do |form| %>
        <%= image_tag("refunds_print_logo.svg", class: "img-fluid mb-5") %>
        <div class="row">
          <div class="col-4">
            <div class="input-group mb-2">
              <div class="input-group-text">
                <i class="fa-solid fa-calendar-day"></i>
                &nbsp;<span>Data Inizio</span>
              </div>
              <%= form.date_field :departure_date_gteq, class: "form-control" %>
            </div>
          </div>
          <div class="col-4">
            <div class="input-group mb-2">
              <div class="input-group-text">
                <i class="fa-solid fa-calendar-day"></i>
                &nbsp;<span>Data Fine</span>
              </div>
              <%= form.date_field :departure_date_lteq, class: "form-control" %>
            </div>
          </div>
          <div class="col-4">
            <span class="float-end">
              <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                <i class="fa-solid fa-magnifying-glass"></i>
                &emsp;
                <strong>
                  Cerca
                </strong>
              <% end %>
              &nbsp;
              <%= link_to print_refunds_path(request.parameters.merge(format: "pdf")), class: "btn btn-primary", target: :_blank do %>
                <i class="fa-solid fa-print"></i>
                &emsp;
                Stampa
              <% end %>
            </span>
          </div>
        </div>
        <br/>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead class="text-primary">
          <th></th>
          <th>
            <i class="fa-solid fa-calendar-day"></i>
            &nbsp;Data Partenza
          </th>
          <th>
            <i class="fa-solid fa-location-dot"></i>
            &nbsp;Luogo
          </th>
          <th>
            <i class="fa-solid fa-building"></i>
            &nbsp;Struttura
          </th>
          <th colspan=2></th>
        </thead>
        <tbody>
          <% @refunds.each do |refund| %>
            <tr>
              <td>
                <%= refund.refund_number %>
              </td>
              <td>
                <%= l(refund.departure_date) %>
              </td>
              <td>
                <%= refund.place_fr %>
              </td>
              <td>
                <%= refund.structure_fr %>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
